# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 依赖和本地包
/node_modules
*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器和系统文件
.idea
.DS_Store

# VitePress 自动生成的文件
/.vitepress/cache
/.vitepress/dist
/.vitepress/deps  # <-- 确保这一行存在

# 构建输出
/build
/dist